#msg-box1-4n .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-4n .mbr-article {
  color: #fff;
}
#msg-box2-35 .mbr-header .mbr-header__text {
  color: #f97352;
}
#msg-box2-35 .mbr-article {
  color: #252525;
}
#content5-40 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-40 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-40 .mbr-article {
  color: #fff;
}
.cid-ts6mtTlqwv {
  background-color: #efefef;
}
.cid-ts6mtTlqwv img {
  width: auto;
}
#dropdown-menu-54 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-54 .nav .link,
#dropdown-menu-54 .dropdown-item {
  font-size: 0.8em;
  color: #eeeeee;
}
#dropdown-menu-54 .navbar,
#dropdown-menu-54 .dropdown-menu {
  background: #3c3c3c;
}
#dropdown-menu-54 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-54 .dropdown-menu a:hover,
#dropdown-menu-54 .dropdown-menu a:focus {
  background: #323232;
}
#dropdown-menu-54 .navbar-toggler {
  color: #eeeeee;
}
#dropdown-menu-54 A {
  font-size: 16px;
}
#msg-box1-4e .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-4e .mbr-article {
  color: #fff;
}
#dropdown-menu-53 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-53 .nav .link,
#dropdown-menu-53 .dropdown-item {
  font-size: 0.8em;
  color: #eeeeee;
}
#dropdown-menu-53 .navbar,
#dropdown-menu-53 .dropdown-menu {
  background: #3c3c3c;
}
#dropdown-menu-53 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-53 .dropdown-menu a:hover,
#dropdown-menu-53 .dropdown-menu a:focus {
  background: #323232;
}
#dropdown-menu-53 .navbar-toggler {
  color: #eeeeee;
}
#dropdown-menu-53 A {
  font-size: 16px;
}
#msg-box1-4q .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-4q .mbr-article {
  color: #fff;
}
#dropdown-menu-53 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-53 .nav .link,
#dropdown-menu-53 .dropdown-item {
  font-size: 0.8em;
  color: #eeeeee;
}
#dropdown-menu-53 .navbar,
#dropdown-menu-53 .dropdown-menu {
  background: #3c3c3c;
}
#dropdown-menu-53 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-53 .dropdown-menu a:hover,
#dropdown-menu-53 .dropdown-menu a:focus {
  background: #323232;
}
#dropdown-menu-53 .navbar-toggler {
  color: #eeeeee;
}
#dropdown-menu-53 A {
  font-size: 16px;
}
#msg-box1-57 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-57 .mbr-article {
  color: #fff;
}
#slider-5e P {
  text-align: left;
}
#slider-5e H1 {
  color: #e7e7e7;
  font-size: 32px;
}
#content5-5f .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-5f .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-5f .mbr-article {
  color: #000000;
}
#dropdown-menu-5c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-5c .nav .link,
#dropdown-menu-5c .dropdown-item {
  font-size: 0.8em;
  color: #eeeeee;
}
#dropdown-menu-5c .navbar,
#dropdown-menu-5c .dropdown-menu {
  background: #3c3c3c;
}
#dropdown-menu-5c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-5c .dropdown-menu a:hover,
#dropdown-menu-5c .dropdown-menu a:focus {
  background: #323232;
}
#dropdown-menu-5c .navbar-toggler {
  color: #eeeeee;
}
#dropdown-menu-5c A {
  font-size: 16px;
}
#dropdown-menu-5n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-5n .nav .link,
#dropdown-menu-5n .dropdown-item {
  font-size: 0.8em;
  color: #eeeeee;
}
#dropdown-menu-5n .navbar,
#dropdown-menu-5n .dropdown-menu {
  background: #3c3c3c;
}
#dropdown-menu-5n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-5n .dropdown-menu a:hover,
#dropdown-menu-5n .dropdown-menu a:focus {
  background: #323232;
}
#dropdown-menu-5n .navbar-toggler {
  color: #eeeeee;
}
#dropdown-menu-5n A {
  font-size: 16px;
}
#msg-box1-5p .mbr-header .mbr-header__text {
  color: #000000;
}
#msg-box1-5p .mbr-article {
  color: #fff;
}
#gallery1-5o SMALL {
  text-align: center;
}
#content5-5q .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-5q .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-5q .mbr-article {
  color: #000000;
}
.cid-ts6mjvAblp {
  background-color: #efefef;
}
.cid-ts6mjvAblp img {
  width: auto;
}
#dropdown-menu-5u .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-5u .nav .link,
#dropdown-menu-5u .dropdown-item {
  font-size: 0.8em;
  color: #eeeeee;
}
#dropdown-menu-5u .navbar,
#dropdown-menu-5u .dropdown-menu {
  background: #3c3c3c;
}
#dropdown-menu-5u .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-5u .dropdown-menu a:hover,
#dropdown-menu-5u .dropdown-menu a:focus {
  background: #323232;
}
#dropdown-menu-5u .navbar-toggler {
  color: #eeeeee;
}
#dropdown-menu-5u A {
  font-size: 16px;
}
#msg-box1-62 .mbr-header .mbr-header__text {
  color: #000000;
}
#msg-box1-62 .mbr-article {
  color: #fff;
}
#gallery1-61 SMALL {
  text-align: center;
}
#content5-63 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-63 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-63 .mbr-article {
  color: #000000;
}
.cid-ts6aGUf4Af {
  background-color: #efefef;
}
.cid-ts6aGUf4Af img {
  width: auto;
}
